tests/Stubs/*.docx filter=lfs diff=lfs merge=lfs -text
sample.bmp filter=lfs diff=lfs merge=lfs -text
sample.csv filter=lfs diff=lfs merge=lfs -text
sample.doc filter=lfs diff=lfs merge=lfs -text
sample.html filter=lfs diff=lfs merge=lfs -text
sample.jpg filter=lfs diff=lfs merge=lfs -text
sample.odp filter=lfs diff=lfs merge=lfs -text
sample.ods filter=lfs diff=lfs merge=lfs -text
sample.odt filter=lfs diff=lfs merge=lfs -text
sample.png filter=lfs diff=lfs merge=lfs -text
sample.ppt filter=lfs diff=lfs merge=lfs -text
sample.pptx filter=lfs diff=lfs merge=lfs -text
sample.rtf filter=lfs diff=lfs merge=lfs -text
sample.svg filter=lfs diff=lfs merge=lfs -text
sample.tiff filter=lfs diff=lfs merge=lfs -text
sample.txt filter=lfs diff=lfs merge=lfs -text
sample.xls filter=lfs diff=lfs merge=lfs -text
sample.xlsx filter=lfs diff=lfs merge=lfs -text
sample.xml filter=lfs diff=lfs merge=lfs -text
sample.gif filter=lfs diff=lfs merge=lfs -text
sample.webp filter=lfs diff=lfs merge=lfs -text
